*.m~
.DS_Store
*.pyc
report/.texpadtmp/
report/report.pdf
src/data_handling/out/
data/
src/data_handling/run.sh
src/weka/target/*
report/acs-dissertation.dvi
report/acs-dissertation.pdf
report/acs-dissertation.ps
report/acs-dissertation.tex
var/
figs/
report/figures/*.pdf
presentation/.texpadtmp/
presentation/*.pdf
